body {
  background-color: #f4f4f4;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: lightblue;
}

h2 {
  color: #16a085;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
}